<!-- templates/components/card_component.html -->
{% macro render_card(petition) %}

<div class="card my-4 ms-2 me-3">
  <div class="card-header d-flex align-items-center">
    <h5 class="card-title">{{ petition.name }}</h5>
    <div class="ms-auto d-flex">
      <button
        id="edit_{{ petition.id }}"
        micropython-click="handleEdit"
        class="btn btn-outline-primary me-2"
        data-bs-toggle="modal"
        data-bs-target="#editPetitionModal"
        data-petition-id="{{ petition.id }}"
        data-petition-name="{{ petition.name }}"
        data-petition-desc="{{ petition.desc }}"
        type="button"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
        </svg>
      </button>
      <button id="delete_{{ petition.id }}" micropython-click="handleDelete" class="btn btn-outline-danger" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ petition.desc }}</p>
  </div>
</div>

<script type="micropython">
from js import document, webui

def handleEdit(event):
    # Get data from the clicked button's data attributes
    button = event.currentTarget
    petition_id = button.getAttribute('data-petition-id')
    petition_name = button.getAttribute('data-petition-name')
    petition_desc = button.getAttribute('data-petition-desc')
    print(petition_id)
    print(petition_name)
    print(petition_desc)

    # Populate the modal's fields
    document.getElementById("edit-petition-id").value = petition_id
    document.getElementById("edit-petition-name").value = petition_name
    document.getElementById("edit-petition-desc").value = petition_desc


def handleDelete(event):
    # Assuming the button id is in the format "delete-<petition_id>"
    petition_id = event.currentTarget.id.split('_')[1]

    # Find the closest card element (assumes your card component has the "card" class)
    card_element = event.currentTarget.closest('.card')
    if card_element:
        card_element.remove()  # Remove the card from the DOM

    # Use petition_id to process deletion
    webui.deletePetition(petition_id)
</script>

{% endmacro %}